/* Table of contents */
.cgit-user-guide-contents-list {
    padding: 0;
}

.cgit-user-guide-contents-list li {
    list-style: none;
}

/* Empty anchor used for links */
.cgit-user-guide-contents-anchor {
    position: relative;
    top: -32px;
}

/* "Back to top" links */
.cgit-user-guide-contents-back {
    font-style: italic;
    margin: 1.5em 0;
    text-align: right;
}
